footer{
    background: url(../../images/footer_bg.png);
    background-size: 1600px 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}
.copy-right{
    background: #2A2C3D;
    border-top: 1px solid #12183e;
}

.logo-footer img{
    width: 150px;
}

@media only screen and (max-width: 1024px){
    footer{
        padding: 0;
        padding-top: 30px;
    }
}